.navbar {
    padding: 10px 5px;
    background: rgba(0,0,0,0.8);
}

body.modal-open {
    overflow-y: scroll;
    padding-right: 0;
}

#logo-navbar {
    width: 216px;
    height: 50px;
}

.navbar-brand {
    padding: 0;
}

.splash-page {
    background: url("https://i.ytimg.com/vi/Aqy85rE4__w/maxresdefault.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -80px;
}

.content-wrapper {
    margin-top: 80px;
    min-height: 100vh;
    margin-bottom: -80px;
}

.main-content {
    margin-bottom: 80px;
}

.inner-body {
    min-height: 100vh;
    height: 100vh;
}

main {
    background-color: white;
}

footer {
    background-color: #6D6D6D;
    height: 150px;
    opacity: .9;
}

.form-block {
    padding: 10px;
}

.navbar-user-img {
    width: 50px;
    height: 50px;
}

.navbar-user {
    display: inline;
}

.wrapper {
    display: inline-block;
}

div > div > div > a {
    float: right;
}

#signupForm {
    background-color: white;
    //margin-top: 20px;
}
