.navbar {
    padding: 10px 5px;
    background: rgba(0,0,0,0.8);
}

body.modal-open {
    overflow-y: scroll;
    padding-right: 0;
}

#logo-navbar {
    width: 216px;
    height: 50px;
}

.navbar-brand {
    padding: 0;
}

.splash-page {
    background: url("../images/resources/splash2.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -80px;
    display: flex;
    align-items: center;
}

.splash-page-items {
    text-align: center;
    font-size: 50px;
}

.splash-page-slogan {
    padding: 20px;
    color: white;
}

.splash-page-scroller {
    text-decoration: none;
    border: 5px white solid;
    padding: 10px;
    color: white;
}

.splash-page-scroller:link {
    text-decoration: none;
    border: 5px white solid;
    padding: 10px;
    color: white;
}

.splash-page-scroller:visited {
    text-decoration: none;
}

.splash-page-scroller:hover {
    text-decoration: none;
    border: 5px #96AC3C solid;
    color: #96AC3C;
    background: rgba(255,255,255,0.95);
    font-weight: bold;
}

.splash-page-scroller:active {
    text-decoration: none;
    border: 5px #96AC3C solid;
    color: #96AC3C;
    background-color: white;
    font-weight: bold;
}

.content-wrapper {
    margin-top: 80px;
    min-height: 100vh;
    margin-bottom: -80px;
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 80px;
}

.inner-body {
    min-height: 100vh;
    height: 100vh;
}

main {
    background-color: white;
}

footer {
    background-color: #6D6D6D;
    height: 150px;
    opacity: .9;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

footer > p {
    font-weight: bold;
}

.form-block {
    padding: 10px;
}

.navbar-user-img {
    width: 50px;
    height: 50px;
    float: right;
}

.navbar-user {
    display: inline;
}

.wrapper {
    display: inline-block;
}

#signupForm {
    background-color: white;
}

.anchor{
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.img-form-preview {
    height: 200px;
    width: 200px;
}

#puntaje {
  display:inline-block;
  width: 80px;
  position: absolute;
}

#puntos {
  margin-left:110px;
  display: inline-block;
  position: absolute;
}

#botonReservar {
  float: right;
  margin-top: 50px;
  margin-right: 30px;
  position: absolute;
}

#caracteristicabox{
  margin-left: 22px;
}
