.navbar {
    padding: 10px 5px;
    background: rgba(0,0,0,0.8);
}

body.modal-open {
    overflow-y: scroll;
    padding-right: 0;
}

#logo-navbar {
    width: 216px;
    height: 50px;
}

.navbar-brand {
    padding: 0;
}

.splash-page {
    background: url("../images/resources/splash2.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -80px;
    display: flex;
    align-items: center;
}

.splash-page-items {
    text-align: center;
    font-size: 50px;
}

.splash-page-slogan {
    padding: 20px;
    color: white;
}

.splash-page-scroller {
    text-decoration: none;
    border: 5px white solid;
    padding: 10px;
    color: white;
}

.splash-page-scroller:link {
    text-decoration: none;
    border: 5px white solid;
    padding: 10px;
    color: white;
}

.splash-page-scroller:visited {
    text-decoration: none;
}

.splash-page-scroller:hover {
    text-decoration: none;
    border: 5px #96AC3C solid;
    color: #96AC3C;
    background: rgba(255,255,255,0.95);
    font-weight: bold;
}

.splash-page-scroller:active {
    text-decoration: none;
    border: 5px #96AC3C solid;
    color: #96AC3C;
    background-color: white;
    font-weight: bold;
}

.content-wrapper {
    margin-top: 80px;
    min-height: 100vh;
    margin-bottom: -80px;
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 80px;
}

.inner-body {
    min-height: 100vh;
    height: 100vh;
}

main {
    background-color: white;
}

footer {
    background-color: #6D6D6D;
    height: 150px;
    opacity: .9;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

footer > p {
    font-weight: bold;
}

.form-block {
    padding: 10px;
}

.navbar-user-img {
    width: 50px;
    height: 50px;
    float: right;
}

.navbar-user {
    display: inline;
}

.wrapper {
    display: inline-block;
}

#signupForm {
    background-color: white;
}

.anchor{
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.img-form-preview {
    height: 200px;
    width: 200px;
}

#puntaje {
  display:inline-block;
  width: 80px;
  position: absolute;
}

#puntos {
  margin-left:110px;
  display: inline-block;
  position: absolute;
}

#botonReservar {
  float: right;
  margin-top: 50px;
  margin-right: 30px;
  position: absolute;
}

.table-responsive {
    margin: 0px 20px;
}

.couchSearchForm {
    margin: 0px 5px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
}

#caracteristicabox{
  margin-left: 22px;
  color: black;
}

#estrellaPuntos{
  display: inline;
}
.couchSearchFormLabel {
    color: #96AC3C;
}

.couchSearchFormHr {
    border: 1px #96AC3C solid;
}

.recommendedCouchesCarousel {
    margin: 0px 5px;
    text-align: center;
}

h2 {
    margin-top: 0px;
}

.checkbox {
    color: #DDDDDD;
}

.btn-xs.couchTable {
    margin-left: 5px;
}

.table > tbody > tr.success > td.couchTable,
.table > tbody > tr.danger > td.couchTable {
    background-color: white;
    border-top: 0px;
    border-bottom: 0px;
}

.stdLink:link {
    text-decoration: none;
    color: #6D6D6D;
}

.stdLink:visited {
    text-decoration: none;
    color: #6D6D6D;
}

.stdLink:hover {
    text-decoration: none;
    color: #000000;
}

#caracteristicabox{
  margin-left: 22px;
  color: black;
}

#estrellaPuntos{
  display: inline;
}

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
